section {
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.card {
    border-bottom: var(--dark-purple) 10px solid;
    width: 80%;
    max-width: 100%;
    min-height: fit-content;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--secondary);
    box-shadow: 0 0 130px -50px var(--light-purple);
}
h1 {
    font-size: 2em;
}
