---
import Layout from "src/layouts/Layout.astro";
import { Image } from "astro:assets";
import ProfilePic from "@assets/profile-pic.webp";
import Mcgill from "@assets/mcgill.webp";
import Johnabbott from "@assets/john-abbott.webp";
import Wrap from "@components/Wrap.astro";
import { Send } from "lucide-astro";
import Link from "@components/Link.astro";
---

<Layout>
  <section>
    <h1>About</h1>
    <div class="container">
      <div class="profile-education">
        <Image
          src={ProfilePic}
          alt={"Headshot of myself"}
          class={"profile-image"}
          priority
        />
        <div class="education">
          <h2>Education</h2>
          <ul>
            <li>
              <div class="row">
                <Image
                  src={Mcgill}
                  alt={"McGill university emblem"}
                  fit={"contain"}
                  class={"emblem"}
                />
                <div class="education-content">
                  <h3>McGill University</h3>
                  <h4><em>Bachelor of Science</em></h4>
                  <div class="row program">
                    <p>Major Computer Science</p>
                    <b>2017 - 2022</b>
                  </div>
                  <div class="row program">
                    <p>Minor Physics</p>
                    <b>2017 - 2019</b>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <Image
                  src={Johnabbott}
                  alt={"John Abbott college emblem"}
                  fit={"contain"}
                  class={"emblem"}
                />
                <div class="education-content">
                  <h3>John Abbott College</h3>
                  <h4><em>Diplôme d'études Collégiales (DEC)</em></h4>
                  <div class="row program">
                    <p>Sciences Program</p>
                    <b>2015 - 2017</b>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="intro-skills">
        <h2>Justin Scopelleti</h2>
        <p>
          I’m a motivated software developer with an interest in building and
          maintaning performant mobile and web applications. I have worked
          across the full technology stack for both mobile and web development.
          Some of the technologies I’ve used on mobile include React Native,
          AWS, Node.js, Redux and the web technologies include Qwik and React
          alongside HTML, CSS, and Java/TypeScript to build interactive
          websites. Other technologies I’m also gaining experience with include
          Firebase, Google Cloud Platform (GCP), and Docker to name a few. I am
          always searching for ways to improve my programming skills, find new
          interesting projects and strive to make each project something that I
          can be proud of.
        </p>
        <Link
          as={"a"}
          href="mailto:justin.scopelleti@gmail.com"
          variant="gradient"><Send />Get In Touch</Link
        >
      </div>
    </div>
  </section>
</Layout>

<style>
  :root {
    --bg-gradient: linear-gradient(
      in oklab,
      var(--grass-1),
      var(--grass-3),
      var(--grass-1)
    );
    --btn-text-color: var(--grass-12);
    --btn-color-background: var(--grass-2);
    --btn-color-base: var(--grass-3);
    --btn-color-hover: var(--grass-4);
    --btn-color-active: var(--grass-5);
    --btn-border-color: var(--grass-7);
    --btn-border-color-hover: var(--grass-8);
  }

  h1 {
    padding-block-start: var(--spacing-48);
    padding-block-end: var(--spacing-16);
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .profile-education {
    display: flex;
    flex-direction: column;
    inline-size: fit-content;
  }

  .profile-image {
    aspect-ratio: 1;
    border-radius: var(--border-radius-full);
    box-shadow: 0px 0px 10px 0px var(--grass-9);
    max-inline-size: min(var(--sizing-md), 100%);
  }

  .emblem {
    max-inline-size: var(--sizing-48);
    aspect-ratio: 1;
    border-radius: var(--border-radius-xl);
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
  }

  .program {
    gap: 0;
    justify-content: space-between;
    max-inline-size: var(--sizing-144);
  }

  .education-content {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .education {
    & ul {
      inline-size: fit-content;
    }

    & h2 {
      text-align: center;
    }
  }

  .intro-skills {
    max-inline-size: var(--sizing-xl);
  }

  .button {
    display: flex;
    gap: var(--spacing-4);
    max-inline-size: var(--sizing-120);
    min-inline-size: var(--sizing-88);
    justify-content: center;
    padding-inline: var(--spacing-12);
    padding-block: var(--spacing-8);
    border-radius: var(--border-radius-full);
    background: linear-gradient(in oklab, var(--violet-2), var(--violet-4));
    border: solid var(--border-width-thin) var(--violet-7);
    transition: all 250ms ease;
    text-align: center;
    font-weight: bold;
    color: var(--violet-12);
    text-wrap: nowrap;

    &:hover,
    &:focus-visible {
      border-color: var(--violet-8);
      box-shadow: 0px 0px 5px 0px var(--violet-9);
      scale: 1.05;
    }

    &:active {
      scale: 1.03;
      background: linear-gradient(in oklab, var(--violet-3), var(--violet-5));
    }
  }
</style>
