---
import Layout from "src/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Project from "@components/Project.astro";

const projects = await getCollection("projects");
---

<Layout>
  <h1>Projects</h1>
  <section>
    {
      projects.map((proj, index) => (
        <Project
          project={proj}
          variant={index % 2 === 1 ? "reversed" : "default"}
        />
      ))
    }
  </section>
</Layout>

<style>
  :root {
    --bg-gradient: linear-gradient(
      in oklab,
      var(--blue-1),
      var(--blue-3),
      var(--blue-1)
    );
    --btn-color-base: var(--blue-3);
    --btn-color-hover: var(--blue-4);
    --btn-color-active: var(--blue-5);
    --btn-border-color: var(--blue-7);
    --btn-border-color-hover: var(--blue-8);
    --btn-text-color: var(--blue-12);
  }

  h1 {
    padding-block-start: var(--spacing-48);
    padding-block-end: var(--spacing-16);
    text-align: center;
    text-transform: uppercase;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--btn-text-color);
  }
</style>
