.App {
  justify-content: center;
  background: linear-gradient(
    rgb(99, 0, 197) 0,
    rgb(84, 59, 153) 20vh,
    rgb(84, 59, 153) 80vh,
    rgb(63, 47, 80) 100vh
  );
  flex-direction: column;
  padding: 0% 5%;
  font-size: 1.2vw;
  color: rgb(240, 240, 240);
}

aside {
  background-color: rgb(141, 111, 224);
  border: 2px solid black;
  border-radius: 1.2em;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 10em;
  overflow: hidden;
  padding: 2%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
}

.profileImage {
  border-radius: 50%;
  margin-bottom: 5%;
}

.row {
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navLink {
  margin: 5% 0;
  font-size: 1.3em;
}

.section {
  display: flex;
  align-items: center;
  margin-left: 25%;
  max-width: 50em;
  line-height: 1.75;
  min-height: 100vh;
  border-top: 1px solid black;
}

.header {
  max-width: 30em;
}
